.body_backgorund {
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: red; 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }

  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }
  #ChangeColor
  {
    height: 50px;
    width: 50px;
    text-align: justify;
    border: 4px solid black;
    border-radius: 10px;
    background-color: aqua;
    padding-left: 0%;
    padding-right: 0%;

  }
  .buttons
  {
    height: 50px;
    width: 50px;
    text-align: justify;
    border: 4px solid black;
    border-radius: 10px;
    background-color: aqua;
    padding-left: 0%;
    padding-right: 0%;

  }

  .plus-minus
  {
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: aqua;
    border-color: black;
    border-width: 2px;
    border-style: solid;
  }
  label
  {
    background-color: beige;
    width: 60px;
    height: 30px;
    padding: 5px;
    text-align: center;
  }
  